mat-card {
    width: 50%;
    height: 60%;
    align-self: center;
 }
 
 mat-card-header {
     display: initial;
     margin-bottom: 20px;
 }
 
 .div-flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     height: 60%;
 }
 
 .contact_component {
     height: 100vh;
 }