<body>
    <div class="main_component">
        <h1>Üdvözöllek az ékszer webshobban!</h1>
        <p>Oldalunkon sok féle ékszert megtekinthetsz.
        </p><p>
            Regisztráció vagy bejelentkezés után elérheted az Ékszerek és az Elérhetőség
            oldalakat is. 
        </p><p>(Ha a felhasználónév-ben [az e-mail cím @ előtti része] benne van az "admin" szó, 
            akkor adminnak lesz titulálva, és akkor ő majd tudja módosítani az ékszerek árát 
            az Ékszerek oldalon. [Van egy admin regisztrálva, email: admin1@admin.com, jelszó: admin1]).
        </p><p>Jó felfedezést!
        </p>
    </div>
</body>